<div class="tab spells" data-group="primary" data-tab="spells">
    <ol class="entries-list">
        {{#each spellcastingEntries as |entry eid|}}
            <li class="spellcasting-entry item item-container" data-container-type="spellcastingEntry" data-container-id="{{entry._id}}">
                <div class="header">
                    {{#if entry.data.prepared}}
                        <a class="skill-name prepared-toggle" style="padding-right: 10px;" title="{{localize "PF2E.ToggleSpellVisibilityTitle"}}"><i class="fas {{#if entry.data.showUnpreparedSpells.value}}fa-book-open{{else}}fa-book{{/if}}"></i></a>
                    {{/if}}
                    <div class="values">
                        <div class="spellDC inline-field">
                            <label title="{{entry.data.dc.breakdown}}">{{ localize 'PF2E.NPC.Spells.DCLabel' }}</label>
                            <input type="number" class="dc-input modifier" data-display-value="{{entry.data.dc.value}}" data-base-property="data.items.{{eid}}.data.spelldc.dc" value="{{entry.data.dc.value}}" data-dtype="Number" placeholder="0"/>
                        </div>
                        <div class="spellAttack inline-field">
                            <label class="rollable" title="{{entry.data.attack.breakdown}}"><a>{{ localize 'PF2E.NPC.Spells.AttackLabel' }}</a></label>
                            <input type="number" class="attack-input modifier" data-display-value="{{entry.data.attack.value}}" data-base-property="data.items.{{eid}}.data.spelldc.value" value="{{ numberFormat entry.data.attack.value decimals=0 }}" data-dtype="Number" placeholder="0"/>
                        </div>
                    </div>
                    <div class="name">
                        <h4>{{ entry.name }}</h4>
                    </div>
                    {{#if ../options.editable}}
                        <div class="item-controls">
                            <a class="item-control spellcasting-remove" title="{{localize "PF2E.RemoveSpellcastingEntryTitle"}}" data-type="{{eid}}"><i class="fas fa-minus"></i>{{localize "PF2E.DeleteShortLabel"}}</a>
                        </div>
                    {{/if}}
                </div>
                <div class="body">
                    <div class="sub-header">
                        <div class="focus-point-container">
                            {{#if entry.data.tradition.focus}}
                            <label class="focus-label">{{ localize 'PF2E.Focus.label' }}</label>
                            <input type="number" class="focus-points" name="data.items.{{entry._id}}.data.focus.points" value="{{ numberFormat entry.data.focus.points decimals=0 }}" data-dtype="Number" placeholder="0"/>
                            <span class="flex0">/</span>
                            <input type="number" class="focus-pool" name="data.items.{{entry._id}}.data.focus.pool" value="{{ numberFormat entry.data.focus.pool decimals=0 }}" data-dtype="Number" placeholder="0"/>
                            {{/if}}
                        </div>
                        <div class="range">{{ localize 'PF2E.SpellRangeLabel' }}</div>
                        <div class="components">{{ localize 'PF2E.SpellComponentsLabel' }}</div>
                        <div class="entry-controls controls">
                            {{#if ../options.editable }}
                            <a class="item-add add spell-create" title="{{ localize 'PF2E.NPC.Add' }}" data-type="spell" data-level="{{eid}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                            <a class="item-control spell-browse" title="{{localize 'PF2E.OpenSpellBrowserTitle'}}" data-type="spell" data-level="{{eid}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#unless entry.data.prepared}}
                    <!-- Everything except prepared spells -->
                        <!-- Add section for each spell level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <div class="section spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
                                {{#if section.spells.length}}
                                <div class="section-header">
                                    <h4>{{ section.label }}</h4>
                                    {{#if section.isCantrip}}
                                        <span class="spell-slots">&infin;</span>
                                        <span class="flex0"> / </span>
                                        <span class="spell-max">&infin;</span>
                                    {{else}}
                                        {{#unless entry.data.tradition.focus}}
                                            {{#unless entry.data.tradition.ritual}}
                                                <input type="number" class="spell-slots-input" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-dtype="Number"/>
                                                <span class="flex0"> / </span>
                                                <input class="spell-max-input" type="number" name="data.items.{{entry._id}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-dtype="Number"/>
                                                &nbsp;
                                                <a class="spell-slots-increment-reset" data-item-id="{{entry._id}}"  data-level="{{lvl}}"><i class="fas fa-redo"></i></a>
                                            {{/unless}}
                                        {{/unless}}
                                    {{/if}}
                                </div>
                                {{/if}}
                                <ul class="spells-list">
                                    {{#each section.spells as |spell i|}}
                                        <li class="item spell" data-item-id="{{spell._id}}" data-spell="{{spell._id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry._id}}" data-expended-state="{{spell.expended}}">
                                            <div class="spell-header">
                                                <div class="spell-icon rollable"><img src="{{spell.img}}" /></div>
                                                <div class="spell-name rollable">
                                                    <a>{{ spell.name }} <span class="activity-icon">{{spell.glyph}}</span></a>
                                                </div>
                                                <div class="spell-range">{{spell.data.range.value}}</div>
                                                <div class="spell-components">
                                                    {{#if spell.data.components.somatic }}<div class="tag">{{ localize 'PF2E.SpellComponentShortS' }}</div>{{/if}}
                                                    {{#if spell.data.components.verbal }}<div class="tag">{{ localize 'PF2E.SpellComponentShortV' }}</div>{{/if}}
                                                    {{#if spell.data.components.material }}<div class="tag">{{ localize 'PF2E.SpellComponentShortM' }}</div>{{/if}}
                                                </div>
                                                <div class="item-controls spell-controls controls expandable">
                                                    <a class="item-chat chat" title="{{ localize 'PF2E.NPC.SendToChat'}}"><i class="fas fa-comment-alt"></i></a>
                                                    {{#if  @root/options.editable}}
                                                    <a class="item-edit edit" title="{{ localize 'PF2E.NPC.Edit'}}"><i class="fas fa-edit"></i></a>
                                                    <a class="item-delete delete" title="{{ localize 'PF2E.NPC.Remove' }}"><i class="fas fa-trash"></i></a>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <div class="spell-body">
                                                <div class="spell-detail sub-section expandable">
                                                    <div class="spell-description">
                                                        {{{ enrichHTML spell.data.description.value }}}
                                                    </div>
                                                    <div class="traits-list">
                                                        {{#each spell.traits as |trait traitIndex|}}
                                                            <div class="tag" title="{{trait.description}}">{{ trait.label }}</div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/each}}
                    {{else}}
                    <!-- Prepared Spells -->
                        <!-- Add section for each level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <div class="section spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
                                <div class="section-header">
                                    {{#if entry.data.showUnpreparedSpells.value}}
                                        <a class="level-prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityLevelTitle"}}">
                                            <i class="fas {{#if section.displayPrepared}}fa-book-open{{else}}fa-book{{/if}}"></i>
                                        </a>
                                    {{/if}}
                                    <h4>{{ section.label }}</h4>
                                    <input class="spell-max-input" type="number" name="data.items.{{entry._id}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-dtype="Number"/>
                                </div>
                                <ul class="spells-list">

                                {{#unless entry.data.tradition.focus}}
                                    {{#each section.prepared as |spell i|}}
                                        {{#if spell.prepared}}
                                            <li class="item spell" data-item-id="{{spell._id}}" data-spell="{{spell._id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry._id}}" data-expended-state="{{spell.expended}}">
                                                <div class="spell-header">
                                                    <div class="spell-icon rollable"><img src="{{spell.img}}" /></div>
                                                    <div class="spell-name rollable">
                                                        <a class="{{#if spell.expended}}expended{{/if}}">{{ spell.name }} <span class="activity-icon">{{spell.glyph}}</span></a></h4>
                                                    </div>
                                                    <div class="spell-range">
                                                        {{ spell.data.range.value }}
                                                    </div>
                                                    <div class="spell-components">
                                                        {{#if spell.data.components.somatic }}<div class="tag">{{ localize 'PF2E.SpellComponentShortS' }}</div>{{/if}}
                                                        {{#if spell.data.components.verbal }}<div class="tag">{{ localize 'PF2E.SpellComponentShortV' }}</div>{{/if}}
                                                        {{#if spell.data.components.material }}<div class="tag">{{ localize 'PF2E.SpellComponentShortM' }}</div>{{/if}}
                                                    </div>
                                                    <div class="item-controls spell-controls controls expandable">
                                                        <a class="item-chat chat" title="{{ localize 'PF2E.NPC.SendToChat'}}"><i class="fas fa-comment-alt"></i></a>
                                                        {{#if @root/options.editable }}
                                                        {{#unless ../section.isCantrip}}
                                                            <a class="item-control item-toggle-prepare" title="{{localize "PF2E.ExpendSpellTitle"}}"><i class="fas fa-minus-square"></i></a>
                                                        {{/unless}}
                                                        <a class="item-control item-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div class="spell-body">
                                                    <div class="spell-detail sub-section expandable">
                                                        <div class="spell-description">
                                                            {{{ enrichHTML spell.data.description.value }}}
                                                        </div>
                                                        <div class="traits-list">
                                                            {{#each spell.traits as |trait traitIndex|}}
                                                                <div class="tag" title="{{trait.description}}">{{ trait.label }}</div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{else}}
                                            <li class="item spell" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot" data-entry-id="{{entry._id}}">
                                                <div class="spell-header">
                                                    <div class="spell-name empty">
                                                        <h4>{{spell.name}}</h4>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/if}}

                                    {{/each}}
                                </ul>
                            </div>
                                {{#if entry.data.showUnpreparedSpells.value}}
                                    {{#if section.displayPrepared}}
                                        <div class="section spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
                                            <div class="section-header">
                                                <h4>{{unpreparedSpellsLabel}}</h4>
                                            </div>
                                            <ul class="spells-list">

                                                <!-- Unprepared Spells -->
                                                {{#each section.spells as |spell i|}}
                                                <li class="item spell unprepared" data-item-id="{{spell._id}}" data-spell="{{spell._id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry._id}}">
                                                    <div class="spell-header">
                                                        <div class="spell-name rollable">
                                                            <a>{{spell.name}} <span class="activity-icon">{{spell.glyph}}</span></a></h4>
                                                        </div>
                                                        <div class="spell-range">{{ spell.data.range.value }}</div>
                                                        <div class="spell-components">
                                                            {{#if spell.data.components.somatic }}<div class="tag">{{ localize 'PF2E.SpellComponentShortS' }}</div>{{/if}}
                                                            {{#if spell.data.components.verbal }}<div class="tag">{{ localize 'PF2E.SpellComponentShortV' }}</div>{{/if}}
                                                            {{#if spell.data.components.material }}<div class="tag">{{ localize 'PF2E.SpellComponentShortM' }}</div>{{/if}}
                                                        </div>
                                                        <div class="item-controls spell-controls controls expandable">
                                                            {{#if @root/options.editable }}
                                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                    <div class="spell-body">
                                                        <div class="spell-detail sub-section expandable">
                                                            <div class="spell-description">
                                                                {{{ enrichHTML spell.data.description.value }}}
                                                            </div>
                                                            <div class="traits-list">
                                                                {{#each spell.traits as |trait traitIndex|}}
                                                                    <div class="tag" title="{{trait.description}}">{{ trait.label }}</div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                <!-- Add spell items for each level -->
                                {{#each section.spells as |item i|}}
                                    <li class="item" data-spell-lvl="1" data-item-id="{{item._id}}">
                                        <div class="item-name rollable">
                                            <div class="item-image">
                                                <img class="item-icon" src="{{item.img}}" alt="{{item.name}}">
                                            </div>
                                            <h4>{{item.name}}</h4>
                                        </div>

                                        <div class="spell-school">{{item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>

                                        {{#if @root.owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            {{/unless}}
                        {{/each}}
                {{/unless}}
                </div>
            </li>

        {{/each}}
    </ol>
    {{#if options.editable}}
    <div class="footer">
        <button type="button" class="btn spellcasting-create"><i class="fas fa-plus"></i> {{ localize 'PF2E.SpellcastingTypeLabel' }}</button>
    </div>
    {{/if}}
</div>
