.spell-browser {
    display: flex;
    min-height: 100px;

    // TODO: Fix the scrolling issue
    height: 600px;

    .control-area {
        position: sticky;
        display: block;
        min-width: 320px;
        width: 320px;
        padding-right: 5px;
        overflow: auto;
    }

    /*  filter area */
    .filtercontainer,
    .sortcontainer {
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-top: 5px;
        padding: 2px;

        h3 {
            margin: 0;
            cursor: pointer;
        }

        dt > input[type="checkbox"] {
                transform: none;
                flex: none;
                height: auto;
                margin: 3px 3px;
        }
    }

    .filtercontainer {
        dt {
            width: 10%
        }

        dd {
            width: 88%;
        }
    }

    .rangecontainer {        
        div {
            text-align: center;
        }

        input[type="number"] {
            width: 45%;
        }
    }

    dl {
        margin: 5px 0;
    }

    dt {
        display: inline-block;
        width: 40%;
        padding-left: 5px;
    }

    dd {
        text-transform: capitalize;
        display: inline-block;
        width: 58%;
        margin-left: 0;

        select {
            width: 100%;
        }
    }

    ul {
        width: auto;
        float: right;
        display: block;
        min-width: 335px;
        margin: 0;
        height: 100%;
        overflow: auto;
    }

    #tagfilter input {
        width: 100%;
        height: 1.6em;
    }

    .hint {
        font-size: 12px;
        border: 1px solid #00ff0547;
        border-radius: 5px;
        padding: 3px;
    }

    .spell {
        cursor: default;
        vertical-align: middle;
        line-height: 32px;
        margin: 2px 0;

        > * {
            align-self: center;
        }
    }

    .spell-image {
        max-width: 32px;
        height: 32px;
    }

    .spell-level {
        text-align: center;
        font-weight: 900;
        max-width: 18px;
        height: 32px;
    }

    .spell-name {
        line-height: 1em;
        padding-left: 5px;
    }

    .spell-tags {
        text-align: right;
        margin-right: 3px;
        font-weight: 900;
        max-width: 100px;
        height: 32px;
    }

    .spacer {
        display: inline-block;
        min-width: 5px;
    }
    .spacer-large {
        display: inline-block;
        min-width: 15px;
    }
    
    .take-item {
        margin-left: 0.5em;
        max-width: 1em;
        width: 1em;
    }
}
