<form class="{{cssClass}}" autocomplete="off">

    <!-- ITEM SHEET HEADER -->
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" />
    <h1>
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'PF2E.ItemNamePlaceholder'}}"/>
    </h1>
    </header>

    <!-- ITEM SHEET CONTENT -->
    <article class="sheet-content">

        <!-- ITEM SHEET SIDEBAR -->
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <!-- ITEM SHEET BODY -->
        <section class="sheet-body">
          <h4 class="sheet-tabs tabs" data-tab-container="primary">
            {{#if detailsActive}}
                <a class="item" data-tab="description">{{localize "PF2E.ItemDescription"}}</a>
                <a class="item active" data-tab="details">{{localize "PF2E.ItemDetails"}}</a>
                {{#if enabledRulesUI}}
                  <a class="item" data-tab="rules">{{localize "PF2E.ItemRules"}}</a>
                {{/if}}
                {{#if activeEffects.showAEs}}
                    <a class="item" data-tab="active-effects">
                        <i class="fas fa-code-branch" title="Development Mode"></i>
                        {{localize "PF2E.ActiveEffects.Label"}}
                    </a>
                {{/if}}
            {{/if}}
            {{#unless detailsActive}}
                <a class="item active" data-tab="description">{{localize "PF2E.ItemDescription"}}</a>
                {{#if hasDetails}}
                <a class="item" data-tab="details">{{localize "PF2E.ItemDetails"}}</a>
                {{/if}}
                {{#if enabledRulesUI}}
                <a class="item" data-tab="rules">{{localize "PF2E.ItemRules"}}</a>
                {{/if}}
                {{#if activeEffects.showAEs}}
                    <a class="item" data-tab="active-effects">
                        <i class="fas fa-code-branch" title="Development Mode"></i>
                        {{localize "PF2E.ActiveEffects.Label"}}
                    </a>
                {{/if}}
                {{/unless}}
            </h4>

            <!-- Item Description -->
            <div class="tab item-description active" data-tab="description">
                {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </div>

            <!-- Item Details -->
            {{#if hasDetails}}
            <div class="tab item-details" data-tab="details">
                {{> (detailsTemplate)}}
            </div>
            {{/if}}

            <!-- Rules -->
            <div class="tab item-rules" data-tab="rules">
              {{> systems/pf2e/templates/items/rules-panel.html item=item}}
            </div>
            <!-- Active Effects -->
            <div class="tab effects" data-tab="active-effects">
                {{> systems/pf2e/templates/items/ae-tab.html activeEffects=activeEffects}}
            </div>
        </section>
    </article>
</form>
