.pf2e.actor.loot {
    .sidebar {
        float: left;
        width: 200px;
    }

    .inventory-list .item .item-controls a.item-toggle-equip,
    .pf2e.actor .item.action-header .item-controls a.item-toggle-equip {
        display: none;
    }

    .sheet-header h1.charname {
        margin: 2px;
        font-family: 'Modesto Compact' serif;
        font-size: 18px;
        color: #444;
        font-size: 36px;
        border: none;
        flex: 0 0 auto;
    }

    .sheet-header .editsheet {
        flex: 0 0 auto;
    }

    .sheet-header .traits-bar {
        flex: 0 0 auto;
        margin-left: auto;
        align-self: center;
        font-size: 1.5em;
    }

    .sheet-sidebar > * {
        flex: 0 0 auto;
    }

    .sheet-navigation {
        width: 100%;
    }

    .sheet-type-info {
        display: none;
    }

    .description .editor {
        height: 465px;
    }
}
