$common: #323232;
$uncommon: #98513d;
$rare: #002664;
$unique: #54166e;

.expandable {
    display: none;
}

.expanded {
    display: block;
}

.inventory-section {
    flex: 1 0 auto;
    padding: 0px;
    margin: 0px;

    .header {
        display: grid;
        grid-template-columns: 26px 3fr 1fr 1fr;
        column-gap: 6px;
        align-items: center;
        color: $light-text;
        background-color: $primary-accent;
        border-radius: 3px 3px 0px 0px;
        padding: 6px;

        .item-quantity {
            text-align: center;
        }

        .controls {
            text-align: right;
        }
    }

    .body {
        padding: 0px;
        border-left: 1px solid $primary-accent;
        border-right: 1px solid $primary-accent;

        .items-list {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: grid;

            .category-header {
                background-color: $secondary-accent;
                display: flex;
                flex: 1;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                padding: 4px 12px;
                text-align: center;
                color: white;
                justify-content: space-between;
                align-items: baseline;

                h4 {
                    margin: 0px;
                }
            }

            .list-item {
                padding: 0px 6px;
                .item-header {
                    display: grid;
                    padding: 0px;
                    grid-template-columns: 26px 3fr 1fr 1fr;
                    column-gap: 6px;
                    align-items: center;
                }
            }

            .item {
                padding: 2px 6px;

                &:not(:last-child) {
                    border-bottom: 1px solid $faded-color;
                }

                .item-icon {
                    border: 2px solid $faded-color;
                    border-radius: 3px;
                    width: 26px;
                    height: 26px;
                    background-size: 26px 26px;
                    &:hover {
                      cursor: pointer;
                    }
                }

                .common {
                    border-color: $common;
                    color: $common;
                }

                .uncommon {
                    border-color: $uncommon;
                    color: $uncommon;
                }

                .rare {
                    border-color: $rare;
                    color: $rare;
                }

                .unique {
                    border-color: $unique;
                    color: $unique;
                }

                .item-name {
                    h4 {
                        margin: 0px;
                    }
                }

                .item-quantity {
                    text-align: center;
                }

                .controls {
                    text-align: right;

                    .item-toggle-equip {
                        color: rgba(black, 0.4);

                        &.active {
                            color: rgba(black, 0.75);
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        background-color: $primary-accent;
        color: $light-text;
        border-radius: 0px 0px 3px 3px;
    }
}

.items-controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 4px 12px;

    a {
        margin: 0px 6px;
    }
}
